.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px auto 0 auto;
    padding: 20px 0;
    width: 70%;
    background: $white-color;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
    .project-video,
    .project-image {
        width: 80%;
        height: 100%;
        filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.3));
    }
    .project-video{
        height: 550px;
    }
    .project-title-container {
        margin: 20px 0;
        height: 100%;
        width: 80%;
        color: $white-color;
        background: linear-gradient(66deg, $secondary-color, $primary-color);
        padding: 10px 0 10px 10px;
        .project-title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .project-summary {
            font-size: 12px;
        }
    }
    .project-category-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px 0;
        color: $dark-color;
        .project-type,
        .project-library {
            padding-left: 10%;
            width: 100%;
        }
        .project-year,
        .project-language {
            padding-left: 10%;
            width: 100%;
        }
    }

    .project-description-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: $dark-color;
        .project-description {
            width: 80%;
            text-align: justify;
            line-height: 30px;
        }
    }
}
