$white-color:rgb(248, 246, 253);
$light-color:rgb(234, 230, 252);
$secondary-color:rgb(167,153,232);
$primary-color: rgb(137,115,190);
$tertiary-color:rgb(106,77,148);
$dark-color:rgb(45,1,64);
$black-color:rgb(40,3,45);

$red-color:#e07768;
$blue-color: #6eadd4;
$green-color: #4aada9;